<%# locals:
  date:, in_month:, occupation:, row_key:, shift_month:,
  day_enabled_by_date:, early_enabled_by_date:, late_enabled_by_date:,
  required_by_date:, required_skill_by_date:, alerts_by_date:,
  draft:, staff_by_id:, unassigned_display_staffs_by_date:,
  holiday_requests_by_date:, designations_by_date:
%>

<% ctx = shift_day_context(draft, date) %>
<% day_rows   = ctx[:day_rows] %>
<% early_rows = ctx[:early_rows] %>
<% late_rows  = ctx[:late_rows] %>
<% night_rows = ctx[:night_rows] %>
<% night_sid  = ctx[:night_sid] %>
<% night_off_sid = ctx[:night_off_sid] %>
<% night_related_ids = ctx[:night_related_ids] %>

<% if row_key == :req %>
  <%= render "shift_months/calendar_cells/req",
             date: date,
             shift_month: shift_month,
             day_enabled_by_date: day_enabled_by_date,
             required_by_date: required_by_date,
             early_enabled_by_date: early_enabled_by_date,
             late_enabled_by_date: late_enabled_by_date,
             required_skill_by_date: required_skill_by_date %>
<% elsif row_key == :alert %>
  <% base_msgs = Array(alerts_by_date[date]) %>
  <% msgs = augment_alert_messages_for_night_conflicts(
              base_msgs: base_msgs,
              draft: draft,
              date: date,
              holiday_requests_by_date: holiday_requests_by_date,
              designations_by_date: designations_by_date
            ) %>
  <div id="alert-cell-<%= date.iso8601 %>">
    <%= render "shift_months/calendar_cells/alert_body", msgs: msgs %>
  </div>
<% else %>
  <div class="day-slots">
    <div id="day-slot-<%= row_key %>-<%= date.iso8601 %>" class="slot slot-day">
      <%= render "shift_months/calendar_cells/day_slot_body",
        date: date,
        in_month: in_month,
        row_key: row_key,
        shift_month: shift_month,
        day_enabled_by_date: day_enabled_by_date,
        early_enabled_by_date: early_enabled_by_date,
        late_enabled_by_date: late_enabled_by_date,
        required_by_date: required_by_date,
        required_skill_by_date: required_skill_by_date,
        alerts_by_date: alerts_by_date,
        draft: draft,
        staff_by_id: staff_by_id,
        unassigned_display_staffs_by_date: unassigned_display_staffs_by_date,
        holiday_requests_by_date: holiday_requests_by_date,
        designations_by_date: designations_by_date
      %>
    </div>

    <div
      id="night-slot-<%= row_key %>-<%= date.iso8601 %>"
      class="slot slot-night <%= (in_month && [:nurse, :care].include?(row_key)) ? "is-night-editable" : "" %>"
      <% if in_month && [:nurse, :care].include?(row_key) %>
        data-night-picker-date-value="<%= date.iso8601 %>"
        data-night-picker-row-key-value="<%= row_key %>"
      <% end %>
    >
      <%= render "shift_months/calendar_cells/night_slot",
                date: date,
                in_month: in_month,
                row_key: row_key,
                shift_month: shift_month,
                draft: draft,
                staff_by_id: staff_by_id %>
    </div>
    <div class="slot slot-stay"></div>
  </div>
<% end %>
