<%# locals:
  date:, in_month:, occupation:, row_key:, shift_month:,
  day_enabled_by_date:, early_enabled_by_date:, late_enabled_by_date:, required_by_date:,
  holiday_requests_by_date:, designations_by_date:, staff_by_id
%>

<% if row_key == :req %>
  <%= render "shift_months/calendar_cells/req",
             date: date,
             shift_month: shift_month,
             day_enabled_by_date: day_enabled_by_date,
             required_by_date: required_by_date,
             early_enabled_by_date: early_enabled_by_date,
             late_enabled_by_date: late_enabled_by_date %>
<% else %>
  <div class="day-slots">
    <div class="slot slot-day" data-shift-kind="day">
      <% day_ids = Array(designations_by_date.dig(date, "day")).map(&:to_i) %>
      <% day_ids.each do |sid| %>
        <% s = staff_by_id[sid] %>
        <% next if s.blank? %>
        <% next unless row_key_for(s) == row_key %>
        <div class="small shift-line"><%= s.last_name %></div>
      <% end %>

      <% desig_sid = designations_by_date.dig(date, "early").to_i %>
      <% desig_staff = staff_by_id[desig_sid] %>
      <% if desig_staff.present? && row_key_for(desig_staff) == row_key %>
        <div class="small shift-line"><%= desig_staff.last_name %><span class="shift-time">730-1630</span></div>
      <% end %>

      <% late_ids = Array(designations_by_date.dig(date, "late")).map(&:to_i) %>
      <% late_ids.each do |desig_sid| %>
        <% desig_staff = staff_by_id[desig_sid] %>
        <% next if desig_staff.blank? %>
        <% next unless row_key_for(desig_staff) == row_key %>
        <div class="small shift-line"><%= desig_staff.last_name %><span class="shift-time">11-20</span></div>
      <% end %>

      <% requests = holiday_requests_by_date[date] || [] %>
      <% requests.each do |request| %>
        <% if row_key_for(request.staff) == occupation[:key] %>
          <div class="holiday-in-slot"><%= "#{request.staff.last_name} 休" %></div>
        <% end %>
      <% end %>
    </div>

    <div class="slot slot-night" data-shift-kind="night">
      <% desig_sid = designations_by_date.dig(date, "night").to_i %>
      <% desig_staff = staff_by_id[desig_sid] %>
      <% if desig_staff.present? && row_key_for(desig_staff) == row_key %>
        <div class="small shift-line"><%= desig_staff.last_name %></div>
      <% end %>
    </div>

    <div class="slot slot-stay" data-shift-kind="stay"></div>
  </div>
<% end %>
