<div class="container-fluid">
  <div class="row min-vh-100">
    <div class="col-md-3 col-lg-2 p-0" style="background-color:#e6f0f0;">
      <%= render "layouts/sidebar" %>
    </div>

    <div class="col-md-9 col-lg-10 py-4">
      <div class="mx-auto text-center" style="width: 90%; min-width: 700px;">

        <div class="d-flex justify-content-center align-items-center mb-5">
          <h1 class="h4 fw-bold mb-0 me-3">曜日別人員配置（基本設定）</h1>
          <%= link_to "編集",
                      edit_base_weekday_requirements_path,
                      class: "btn btn-outline-secondary btn-sm py-1 px-2" %>
        </div>

        <table class="table table-sm table-bordered text-center align-middle mx-auto" style="max-width: 300px;">
          <thead>
            <tr class="text-center">
              <th rowspan="2" class="small py-1 lh-1" style="background-color:#e6f0f0;">曜日</th>
              <th colspan="4" class="small py-1 lh-1" style="background-color:#7fd9d2;">日勤</th>
              <th rowspan="2" colspan="1" class="small py-1 lh-1" style="background-color: #e6f0f0;">早番</th>
              <th rowspan="2" colspan="1" class="small py-1 lh-1" style="background-color: #e6f0f0;">遅番</th>
              <th rowspan="2" colspan="1" class="small py-1 lh-1" style="background-color: #e6f0f0;">夜勤</th>
            </tr>
            <tr class="text-center">
              <th class="small py-1 lh-1" style="background-color: #7fd9d2;">看護</th>
              <th class="small py-1 lh-1" style="background-color: #7fd9d2;">介護</th>
              <th class="small py-1 lh-1" style="background-color: #7fd9d2;">運転</th>
              <th class="small py-1 lh-1" style="background-color: #7fd9d2;">調理</th>
            </tr>
          </thead>

          <tbody>
            <% wdays = %w[月 火 水 木 金 土 日] %>
            <% 7.times do |i| %>
              <tr>
                <td><%= wdays[i] %></td>
                <td><%= @rows[i]["nurse"] %></td>
                <td><%= @rows[i]["care"] %></td>
                <td><%= @rows[i]["drive"] %></td>
                <td><%= @rows[i]["cook"] %></td>
                <td><%= @rows[i]["early"] > 0 ? "○" : "-" %></td>
                <td><%= @rows[i]["late"]  > 0 ? "○" : "-" %></td>
                <td><%= @rows[i]["night"] > 0 ? "○" : "-" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <p class="text-muted small mt-2">
          ※ この設定は「新しく作成するシフト月」の初期値として使用されます。
        </p>

      </div>
    </div>
  </div>
</div>
