<div class="container d-flex justify-content-center mt-5">
  <div class="col-md-4">

    <h2 class="text-center mb-4">パスワード変更</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field mb-3">
        <%= f.label :password, "新しいパスワード" %><br />
        <% if @minimum_password_length %>
          <span class="text-muted">(<%= @minimum_password_length %>文字以上)</span>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password_confirmation, "新しいパスワード（確認）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <%= link_to "ログインへ戻る", new_user_session_path, class: "btn btn-secondary" %>
        <%= f.submit "変更する", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
