<div class="container-fluid">
  <div class="row min-vh-100">
    <div class="col-md-3 col-lg-2 p-0">
      <%= render "layouts/sidebar" %>
    </div>

    <div class="col-md-9 col-lg-10 py-4">
      <div class="container">
        <h1 class="h4 fw-bold mb-3">
          <%= @shift_month.year %>年 <%= @shift_month.month %>月 シフト設定
        </h1>
    
        <div class="border rounded p-3">
          <p class="mb-2">表示対象日数： <%= @dates.size %> 日</p>
          <p class="mb-0"><%= @dates.first %> ~ <%= @dates.last %></p>
        </div>
      </div>
    </div>
  </div>
</div>
