<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Myapp">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-controller="sidebar">
    <nav class="navbar navbar-expand-lg mb-4" style="background-color: #97cdf3; border-bottom: 8px solid #e6f0f0;">
      <div class="container d-flex justify-content-between">
        <%= link_to "Smart Shift Planner",
                    (user_signed_in? ? dashboard_path : root_path),
                    class: "navbar-brand text-white fw-bold" %>

        <div class="d-flex align-items-center">
          <% if user_signed_in? %>
            <span class="text-white me-3">
              <%= current_user.name %> さん
            </span>

            <%= button_to "ログアウト", destroy_user_session_path,
                          method: :delete,
                          class: "btn btn-outline-light btn-sm" %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-light btn-sm mx-1" %>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-light btn-sm mx-1" %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      <% flash.each do |key, message| %> <%# keyはフラッシュメッセージの種類（:notice / :alert / :error など）%>
      <% next if key.to_s == "conflict" %>
        <% bs_class =
          case key.to_sym
          when :notice then "alert-success"
          when :alert then "alert-danger"
          else "alert-info"
          end %>
        <div class="alert <%= bs_class %> alert-dismissible fade show text-center"
             role="alert"
             data-controller="flash">
          <%= message %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
